/* Base Styles */
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
* {
	box-sizing: border-box;
  }  

h1 {
	font-family: cursive, fantasy;
	color: #FFFFFF;
  text-align: center;
}
h1:hover{
  color:#F68338;
}

body{
  background: #648880;
  background-image: linear-gradient(to right, #f6f1d3, #648880, #293f50);
  background-size: 400%;
  animation: b1 5s infinite alternate;
}
@keyframes b1 {
  0%{background-position:left;
  }
  100%{
    background-position: right;
  }

}



p {
	padding: 10px;
	margin: 0;
}


.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

 .row  button {
  display: inline-block;
  background-color: #292929;
	border:	1px solid black;
	width: 70%;
	height: 300px;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
  margin-left: 80px;
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #3e8e41;
  color:white;
  transform: scale(1.5);
}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: scale(1.5);
}

#chicken {
	text-align: center;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 150%;
}

#beef {
	text-align: center;
  font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 150%;
}

#sushi {
  text-align: center;
  font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 150%;
}

.row {
	width: 100%;
}

/* Desktop view */

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Mobile view */

@media (max-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
 	float: left;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 5px;
}
  }
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}
.navbar-brand p:hover{
  color:#F68338;
}

#header-nav {
  border: 0;
  background-color: #292929;
  color: #FFFFFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #F87217; 

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFFFF;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #111;
  font-size: 1.5em;
  font-family: 'Bad Script',cursive;
  font-weight: bold;
}
.nav-brand span{
  margin: 0;
  padding: 0;
  animation: a 5s linear infinite;

}
.nav-brand span:nth-child(1)
{
  animation-delay: 0s;
}
.nav-brand span:nth-child(2)
{
  animation-delay: 0.625s;
}
.nav-brand span:nth-child(3)
{
  animation-delay: 1.25s;
}
.nav-brand span:nth-child(4)
{
  animation-delay:1.875s;
}
.nav-brand span:nth-child(5)
{
  animation-delay: 2.5s;
}
.nav-brand span:nth-child(6)
{
  animation-delay: 3.125s;
}
.nav-brand span:nth-child(7)
{
  animation-delay: 3.75s;
}
.nav-brand span:nth-child(8)
{
  animation-delay: 4.375s;
}
@keyframes a {
  0%,100%{
    color:#FFFFFF;
    filter:blur(0px);
    
  }
  10%,95%
  {
    color: #111;
    filter:blur(0px);
    text-shadow:none;
  }
}
.nav-brand  p.hover,a.hover{
  color:#F68338;
}
.item {
  color: white;
  font-size: 1.2em;
}
#nav-list {
  color: white;
}

hr {
  border-color: white;
}

